<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
<div class="my">
	<ul>
		<li>那些花儿</li>
		<li>那些花儿</li>
		<li>那些花儿</li>
		<li>那些花儿</li>
		<li>那些花儿</li>
		<li>那些花儿</li>
	</ul>
</div>

<style type="text/css">
	.my ul {
		width: 210px;
	}
	.my li {
		width: 100px;   /*如果显示三列 则width改为70px*/
		float: left;
		display: block;
	}

</style>
</body>
</html>